<h2><%= t('devise.confirmations.resend_confirmation_title').html_safe %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <%= f.label :email, t('devise.confirmations.email_label').html_safe %><br />
  </div>

  <div class="input-field actions">
    <%= f.submit t('devise.confirmations.submit_label').html_safe, class: 'btn bg-info' %>
  </div>
<% end %>

<div class="links">
  <%= render "devise/shared/links" %>
</div>
