<h2><%= t('devise.registrations.register_title') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, t('devise.registrations.email_label') %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, t('devise.registrations.password_label') %>
    <% if @minimum_password_length %>
      <em>(<%= t('devise.registrations.minimum_length', minimum_length: @minimum_password_length) %>)</em>
    <% end %>
    <br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('devise.registrations.confirm_password_label') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('devise.registrations.new_submit_label') %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
