<h2><%= t('devise.unlocks.resend_unlock_title').html_safe %></h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :email, t('devise.unlocks.email_label').html_safe %><br />
  </div>

  <div class="input-field actions">
    <%= f.submit t('devise.unlocks.submit_label').html_safe, class: 'btn bg-info' %>
  </div>
<% end %>

<div class="links">
  <%= render "devise/shared/links" %>
</div>
