<header class="app-header">
  <nav class="nav-wrapper">

    <button class="waves-effect sidebar-toggler tooltiped" type="button" onclick="openSidebar()" data-tooltip="<%= t('header.sidebar_toggle_tooltip').html_safe %>" data-position="right">
      <i class="fa fa-bars"></i>
    </button>

    <%= link_to :system_dashboard_index, class: 'my brand-logo waves-effect waves-light' do %>
      <!-- <img src="https://via.placeholder.com/350x150" /> -->
      <h1>
        <%= image_tag asset_path('logo.svg') %>
        <span class="before">D</span><span class="hidden">o</span><span class="after">cAssist</span>
      </h1>
    <% end %>

    <ul class="header-nav right">

      <li class="nav-item hide-on-small-only">
        <a class="nav-link waves-effect waves-light tooltiped" onclick="toggleFullScreen()" data-tooltip="<%= t('header.fullscreen_tooltip').html_safe %>" data-position="left">
          <i class="fas fa-expand"></i>
        </a>
      </li>

      <li class="nav-item">
        <%= button_to destroy_user_session_path, class: 'nav-link waves-effect waves-light tooltiped', 'data-tooltip' => t('header.logout_tooltip').html_safe, 'data-position' => 'left', method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </li>

    </ul>

  </nav>
</header>
