<div class="todo" onclick="toggleTodo(event)">
  <i class="fas fa-times" onclick="closeTodo(event)"></i>

  <h5>SPRINT</h5>
  <p>Estilizar as p치ginas do devise</p>
  <p>Fazer p치gina das consultas</p>

  <h5>BACKLOG</h5>
  <p>Fazer p치gina do paciente</p>
  <p>Fazer dashboard</p>
  <p>Flash message pra quando criar usu치rio avisando que mandou e-mail pra confirmar</p>
  <p>Flash messages em geral</p>
  <p>Terminar campos dos pacientes</p>

  <h5>DEBUG</h5>
  <% if current_user %>
    <p>- Current user -<br><%= current_user.id %><br><%= current_user.name %><br><%= current_user.type_name %><br><%= current_user.doctors.pluck(:name) %></p>
  <% end %>
  <span><%= debug(params) %></span>
</div>
