<!DOCTYPE html>
<html>
  <head>

    <title>DocAssist</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>

    <% flash.each do |key, value| %>
      <% if key == 'alert' || key == 'notice' || key == 'error' %>
        <div class="flash flash-<%= key %> full-shadow">
          <p><%= value %></p>
        </div>
      <% end %>
    <% end %>

    <div class="container full-shadow">
      <%= yield %>
    </div>

    <% if Rails.env.development? %>
      <%= render('/layouts/todo') %>
    <% end %>

  </body>
</html>
