
<!DOCTYPE html>
<html>
  <head>
    <title>DocAssist - <%= t('misc.system') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'system', media: 'all' %>
    <%= javascript_include_tag 'system' %>
    <%= javascript_pack_tag    'system' %>
  </head>
  <body>

    <%= render('/system/common/sidebar') %>

    <div class="app-container">

      <%= render('/system/common/header') %>

      <main class="page-content">
        <article class="page">

          <%= yield %>

        </article>
      </main>

      <%= render('/system/common/footer') %>

    </div>

    <div class="todo" onclick="toggleTodo(event)">
      <i class="fas fa-times" onclick="closeTodo(event)"></i>
      <h5>SPRINT</h5>
      <p>Estilizar esse search das index direito que tá escroto</p>
      <p>Fazer páginas dos pacientes</p>
      <p>Integrar páginas dos pacientes com o back-end</p>
      <p>Fazer páginas dos usuários</p>
      <p>Integrar páginas dos usuários com o back-end</p>
      <p>Colocar alguns usuários como principais</p>
      <p>Adicionar permissões</p>
      <p>Só deixar os usuários principais acessarem coisas relacionadas aos mesmos</p>
      <p>Só deixar os usuários normais acessarem coisas atribuídas a eles pelo usuário principal</p>
      <p>Fazer validações dos usuários no back-end</p>
      <p>Fazer validações dos pacientes no back-end</p>
      <p>Fazer formulário ficar vermelho caso já haja o mesmo email/username cadastrado</p>
      <p>Flash message pra quando criar usuário avisando que mandou e-mail pra confirmar</p>
      <p>Flash messages em geral</p>
      <h5>BACKLOG</h5>
      <p>Colocar modal do materialize no lugar dos alerts/confirms</p>
      <p>Atualizar sidebar com as permissões</p>
      <p>Fazer página das consultas</p>
      <p>Fazer dashboard</p>
      <p>Terminar campos dos pacientes</p>
      <% if Rails.env.development? %>
        <h5>Debug</h5>
        <span><%= debug(params) %></span>
      <% end %>
    </div>



  </body>
</html>
