
<!DOCTYPE html>
<html>
  <head>
    <title>DocAssist - <%= t('misc.system') %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'system', media: 'all' %>
    <%= javascript_include_tag 'system' %>
    <%= javascript_pack_tag    'system' %>
  </head>
  <body>

    <%= render('/system/common/sidebar') %>

    <div class="app-container">

      <%= render('/system/common/header') %>

      <main class="page-content">
        <article class="page">

          <%= yield %>

        </article>
      </main>

      <%= render('/system/common/footer') %>

    </div>

    <% if Rails.env.development? %>
      <div class="todo" onclick="toggleTodo(event)">
        <i class="fas fa-times" onclick="closeTodo(event)"></i>

        <h5>SPRINT</h5>
        <p>Validações dos usuários</p>
        <p>Validações dos pacientes</p>
        <p>Fazer campos do formulário ficarem vermelhos caso falhem nas validações</p>

        <h5>BACKLOG</h5>
        <p>Flash message pra quando criar usuário avisando que mandou e-mail pra confirmar</p>
        <p>Flash messages em geral</p>
        <p>Traduzir as partes feitas no react</p>
        <p>Colocar modal do materialize no lugar dos alerts/confirms</p>
        <p>Colocar animação de abrir/fechar os modais e os user#show</p>
        <p>Atualizar sidebar com as permissões</p>
        <p>Fazer página das consultas</p>
        <p>Fazer página do paciente</p>
        <p>Fazer dashboard</p>
        <p>Terminar campos dos pacientes</p>

        <h5>DEBUG</h5>
        <p>CURRENT USER<br><%= current_user.id %><br><%= current_user.name %><br><%= current_user.type_name %><br><%= current_user.doctors.pluck(:name) %></p>
        <span><%= debug(params) %></span>
      </div>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

  </body>
</html>
