
<!DOCTYPE html>
<html>
  <head>

    <title>DocAssist - <%= t('misc.system').html_safe %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <%= stylesheet_link_tag    'system', media: 'all' %>
    <%= javascript_include_tag 'system' %>
    <%= javascript_pack_tag    'system' %>

  </head>
  <body>

    <%= render('/system/common/sidebar') %>

    <div class="app-container">

      <%= render('/system/common/header') %>

      <main class="page-content">
        <article class="page">

          <%= yield %>

        </article>
      </main>

      <%= render('/system/common/footer') %>

    </div>

    <% if Rails.env.development? %>
      <%= render('/layouts/todo') %>
    <% end %>

    <% flash.each do |key, value| %>
      <% if key == 'alert' || key == 'notice' || key == 'error' %>
        <div class="flash flash-<%= key %> full-shadow">
          <p><%= value %></p>
        </div>
      <% end %>
    <% end %>

  </body>
</html>
